データサイエンス グループワーク第2週

今週実施したこと

- データの読み込み
- 特徴量の確認

**追記：プログラム作成にはGitHub Copilotを使用しています**

In [1]:
# ライブラリのインポート
import pandas as pd

In [2]:
# データの読み込み
train_data = pd.read_csv("train.csv") # ファイル名とパスは各自で変更してください
train_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

各項目の意味は以下の通りです。

- datetime: 日時(1時間ごと)
- season: 
    1. 春
    2. 夏
    3. 秋
    4. 冬
- holiday: その日が休日とみなされているかどうか
- workingday: その日が週末でも休日でもないかどうか
- weather: 
    1. 晴れ、少量の雲、一部曇り、一部曇り
    2. 霧 曇り、霧 切れ間のある雲、霧 少量の雲、霧
    3. 小雪、小雨 雷雨 散在する雲、小雨 散在する雲
    4. 大雨 氷のパレット 雷雨 霧、雪 霧
- temp: 摂氏温度(℃)
- atemp: 体感温度
- humidity: 湿度
- windspeed: 風速
- casual: 開始された非登録ユーザーのレンタル数
- registerd: レンタルを開始した登録ユーザーの数
- count: 総レンタル数

曜日を示す"dayofweek"を作成(0:月曜-7:日曜)

In [3]:
# 曜日を追加
train_data["datetime"] = pd.to_datetime(train_data["datetime"]) # datetime型に変換
train_data["dayofweek"] = train_data["datetime"].dt.dayofweek # 曜日を取得(0:月曜, 1:火曜, ..., 6:日曜)
train_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,5

In [4]:
# カテゴリ変数をダミー変数へ変換
train_data = pd.get_dummies(train_data, columns=["season", "weather", "dayofweek"])

In [5]:
# 体感温度と気温の差を追加
train_data["temp_diff"] = train_data["atemp"] - train_data["temp"]

In [6]:
# 0度から10度の気温の場合に1，それ以外の場合に0の変数を追加
train_data["temp_0-10"] = train_data["temp"].apply(lambda x: 1 if 0 <= x < 10 else 0)

# 10度から20度の気温の場合に1，それ以外の場合に0の変数を追加
train_data["temp_10-20"] = train_data["temp"].apply(lambda x: 1 if 10 <= x < 20 else 0)

# 20度から30度の気温の場合に1，それ以外の場合に0の変数を追加
train_data["temp_20-30"] = train_data["temp"].apply(lambda x: 1 if 20 <= x < 30 else 0)

# 30度以上の気温の場合に1，それ以外の場合に0の変数を追加
train_data["temp_over30"] = train_data["temp"].apply(lambda x: 1 if 30 <= x else 0)

In [7]:
train_data.head()

,datetime,holiday,workingday,temp,atemp,humidity,windspeed,casual,registered,count,...,dayofweek_2,dayofweek_3,dayofweek_4,dayofweek_5,dayofweek_6,temp_diff,temp_0-10,temp_10-20,temp_20-30,temp_over30
0,2011-01-01 00:00:00,0,0,9.84,14.395,81,0.0,3,13,16,...,False,False,False,True,False,4.555,1,0,0,0
1,2011-01-01 01:00:00,0,0,9.02,13.635,80,0.0,8,32,40,...,False,False,False,True,False,4.615,1,0,0,0
2,2011-01-01 02:00:00,0,0,9.02,13.635,80,0.0,5,27,32,...,False,False,False,True,False,4.615,1,0,0,0
3,2011-01-01 03:00:00,0,0,9.84,14.395,75,0.0,3,10,13,...,False,False,False,True,False,4.555,1,0,0,0
4,2011-01-01 04:00:00,0,0,9.84,14.395,75,0.0,0,1,1,...,False,False,False,True,False,4.555,1,0,0,0